body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    color: powderblue;
    margin: 0px;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    width: 16%;
    text-shadow: 
    1px 1px 0px black,   /* Bottom-right shadow */
    -1px 1px 0px black,  /* Bottom-left shadow */
    1px -1px 0px black,  /* Top-right shadow */
    -1px -1px 0px black; /* Top-left shadow */
}

ul {
    margin: 0px;
}

body > header {
    background-color: black;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 10px;
    margin: 20px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: powderblue;
    text-decoration: none;
    padding: 14px;
    border: 2px solid powderblue;
    border-radius: 20%;
}

body > main article {
    width: 80%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
    background-color: powderblue;
}

#main-content > div {
    width: 80%;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: powderblue;
    display: flex;
}

img {
    border-radius: 30%;
}

#footer-ul{
    display: flex;
    list-style: none;
    background-color: black;
}

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a{
    text-decoration: none;
    color: powderblue;
}